:root{
    --nav-color:#0b0b16;
    --nav-text-color:#ffffff;
    --blu:#0026fd;
    --redd:#fd1e00;
    --amber:#fd8f00;
    --gren:#33fd00;
    --cyan:#00c2fd;
    --purp:#fd007e;
}
button , a{
    cursor: pointer;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    user-select: none;
}
.w100{
    height:120vh;
}
body{
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;

}
.topslider{
    width: 100%;
    background-color: lightcoral;
    height: 100%;
}
#slider{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.side-nav{
    width: 15rem;
    height: 100vh;
    position: fixed;
    left: -15rem;
    z-index: 2;
    background-color: lawngreen;
}
.side-nav-hiden{
    left: 0rem;

}
.body{
    width: 100vw;
    padding-left: 0rem;
}
.body-navout{
    padding-left: 15rem;
}
header{
    width: 100%;
    background-color: aqua;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 3rem;
    background-color: white;
    border-radius: 3rem;
    justify-self: flex-end;
    transform: translateY(50%);
    margin-top: -3rem;
    background-color: var(--nav-color);
    box-shadow: 0 .3rem .5rem -.1rem blue;
    color: white;
    transition: .2s ease;
    
}
.stickynav{
    position: fixed;
    width: 96vw;
    border-radius: 0 0 1rem 1rem;
    left: 2vw;
    transform: translateY(100%);
    z-index: 10;
    box-shadow: 0 .3rem .4rem -.1rem rgb(43, 43, 43);
    transition: .2s ease;
}
nav > div{
    height: 100%;
    padding: .4rem;
    display: flex;
    align-items: center;
    color: inherit;
}
.nav-circle{
    height: 2.6rem;
    width: 2.6rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;
    background-color: white;
    margin-left: -.2rem;
}
.homelogo{
    height: 2rem;
}
.title{
    font-family: monospace;
    font-size: 1.3rem;
}
.search{
    width: 32vw;
    border-radius: 3rem;
    border: none;
    height: 99%;
    padding: .2rem 2rem;
    color: rgb(51, 51, 51);
    transition:.2s ease-in-out;

}
.search:focus{
    width: 34vw;
    box-shadow: 0 0 .6rem -.2rem rgb(40, 40, 211);
    transition:.2s ease-in-out;
}
.src-icon{
    height: 70%;
    transform: translateX(120%);
}
.src-btn{
    width: 4rem;
    height: 88%;
    border: none;
    border-radius: 3rem;
    padding: 0 1rem;
    transform: translateX(-4.2rem);
    background-color: rgba(0, 0, 0, 0.301);
    color: var(--nav-color);
    position: relative;
}
.src-btn::before{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    border-radius: 2rem;
    top: 0;
    background-color: rgba(76, 0, 130, 0);
    bottom: 0;
    transition:.3s ease;
}
.src-btn:hover{
    color: var(--nav-text-color);
}
.src-btn:hover::before{
    content: '';
    background-color: indigo;
    width: 100%;
    position: absolute;
    transition:.3s ease;
    z-index: -1;

}
.nav-end{
    margin-left: -3rem;
}
.nav-end > a{
    position: relative;
    text-decoration: none;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content:center;
    color: var(--nav-text-color);
    border-radius: 3rem;
    margin-left: .4rem;
    padding-bottom: .1rem;
    background-color: rgba(0, 0, 0, 0);
    width: 5.6rem;
}
.nav-end >a:hover{
    color:rgb(47, 5, 77);
}
.nav-end >a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 0%;
    left: 0;
    border-radius: 2rem;
    top: 0;
    background-color: rgba(76, 0, 130, 0);
    bottom: 0;
    transition:.3s ease;
}
.nav-end >a:hover::before{
    content: '';
    background-color: rgb(204, 204, 204);
    height: 100%;
    position: absolute;
    transition:.3s ease;
    z-index: -1;
}
.container{
    position: relative;
    width: 100%;
    padding: 5rem  0 ;
    background-color: #00000000;
}
.rtl::before{
    z-index: -1;
    transform:rotateZ(2deg);
    position: absolute;
    content: '';
    width: 130%;
    height: 30rem;
    background:linear-gradient(175deg, rgb(92, 2, 194), rgb(92, 2, 194), rgb(92, 2, 194), rgb(165, 0, 230));
}
.rtl{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15rem;
}
.props{
    width: 20rem;
    min-height: 20rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: 0 .2rem .7rem -.2rem blue;
}
.graphs-container{
    width: 100%;
    border-radius: .3rem;
    padding: .3rem;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(236, 236, 236);
}
.graph{
    margin-bottom: .4rem;
    width: 100%;
    height: .5rem;
    border-radius: 1rem;
    background-color: rgb(189, 189, 189);
}
.graph > p{
    margin-bottom: .4rem;
}
.graph-bar{
    width: 70%;
    border-radius: 1rem;
    height: 100%;
    background-color: indigo;
}

.linear-slider{
    margin-top: 3rem;
    max-width: 96vw;
    width: 100%;
    padding: 1rem .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.linear-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.3rem 1rem;
    border-radius: 1rem; 
    min-height: 21rem;
    width: 19rem;
    background-color: white;
    margin: 1rem;
    box-shadow: 0 .2rem .5rem -.1rem rgb(43, 43, 43);
}
.linear-cards h3{
    font-size: 2rem;
    font-weight: normal;
}

.linear-cards .graph{
    height: .36rem;
}
.linear-seemore{
    border: none;
    position: relative;
    border-radius: .5rem;
    background-color: rgba(22, 1, 63, 0.13);
    padding: .4rem 0;
}
 .linear-seemore::after{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    border-radius: .5rem;
    top: 0;
    background-color: rgba(76, 0, 130, 0);
    bottom: 0;
    transition:.3s ease;

}
.linear-seemore:hover::after{
    content:'';
    background-color: indigo;
    width: 100%;
    position: absolute;
    transition:.3s ease;
    z-index: -1;
}
.linear-seemore:hover{
    z-index: 15;
    color: white;
}
.prop-desc{
    min-width: 21rem;
    max-width: 35vw;
    width: 20rem;
}
.prop-desc >h2{
    font-size: 2.4rem;
    font-weight: normal;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
}
.prop-desc >p{
    color: rgb(219, 219, 219);
}
.prop-desc >a{
    align-self: center;
    border: none;
    background-color: var(--nav-color);
    width: 90%;
    max-width: 20rem;
    padding: .4rem 1.5rem;
    text-decoration: none;
    margin-top: 3rem;
    border-radius: 3rem;
    color: rgb(162, 52, 241);
    transition: .3s ease;
    transform: translateY(0rem);

}
.prop-desc >a:hover{
    transform: translateY(-.4rem);
    transition: .3s ease;
    box-shadow: 0 .3rem .5rem -.1rem rgb(174, 112, 245);
}
.row{
    margin-top: 10rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem .5rem;
}
.webimgcontainer{
    position: relative;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    min-width: 22rem;
    max-width: 23vw;
    transition: .3s ease-in-out;
}
.webimgcontainer h3{
    font-size: 1.3rem;
    width: 95%;
    margin: 0 .5rem;
    margin-bottom: .3rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.webimgcontainer p{
    color: rgb(230, 230, 230);
    font-size: .9rem;
    width: 90%;
    max-width: 90%;
    margin: 0 .5rem;
}
.webimg{
    min-width: 100%;
    min-height: 12.4rem;
    max-width: 23vw;
    border-radius: .4rem;
    background-color: var(--nav-color);
    box-shadow: 0 0 .3rem 0rem rgb(33, 1, 77);
    transition: .3s ease-in-out;

}
.hover-data{
    display: none;
    height: 0rem;
    bottom: 0;
    width: 100%;
    border-radius: .4rem;
    position: absolute;
    transition: .3s ease-in-out;
    background-color: rgb(21, 17, 22);
}
.webimgcontainer:hover .hover-data{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12.4rem;
    transition: .3s ease-in-out;
}
.project-link{
    margin: .3rem .5rem;
    text-decoration: none;
    background-color: white;
    width: max-content;
    margin-top: .6rem;
    padding:.3rem 1rem ;
    border-radius: 2rem;
    transition: .3s ease-in-out;

}
.project-link:hover{
    background-color: var(--amber);
    color: white;
    transition: .3s ease-in-out;
}
/* templates */

.bg-tr::before{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    border-radius: .5rem;
    top: 0;
    background-color: rgba(76, 0, 130, 0);
    bottom: 0;
    transition:.3s ease;
}
.bg-tr:hover{
    color: var(--nav-text-color);
}
.bg-tr:hover::before{
    content: '';
    background-color: indigo;
    width: 100%;
    position: absolute;
    transition:.3s ease;
    z-index: -1;

}
.html{width: 96%;}
.css{width: 97%;}
.js{width: 89%;}
.php{width: 60%;}
.webd{width: 90%;}
.appd{width:85%}
.prog{width: 60%;}
